absl-py==1.0.0
aiodns==3.0.0
aiofile==3.7.4
aiohttp==3.8.1
aiohttp-socks==0.5.3
aiorpcX==0.18.5
aiosignal==1.2.0
alembic==1.7.7
apparmor==2.13.6
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
asn1crypto==1.4.0
asttokens==2.0.5
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==20.3.0
Automat==20.2.0
backcall==0.2.0
beautifulsoup4==4.11.1
BitcoinExchangeFH==2021.1
bitstring==3.1.7
bleach==5.0.0
blinker==1.4
Brotli==1.0.9
build==0.8.0
cachetools==5.1.0
caio==0.9.5
cchardet==2.1.7
ccxt==1.83.41
certifi==2020.6.20
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
chart-studio==1.1.0
circular==0.1
click==7.1.2
colorama==0.4.4
commonmark==0.9.1
conda==4.3.16
configobj==5.0.6
constantly==15.1.0
cryptofeed==2.2.2
cryptography==37.0.2
cssselect==1.1.0
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.16
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
distro==1.5.0
Django==4.0.5
dnslib==0.9.19
dnspython==2.0.0
docopt==0.6.2
docutils==0.18.1
dpkt==1.9.7.2
Electrum==4.0.9
eli5==0.13.0
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.15.3
feature-engine==1.3.0
filelock==3.7.1
Flask==1.1.2
Flask-HTTPAuth==3.2.4
flatbuffers==1.12
fonttools==4.33.3
frozenlist==1.3.0
gast==0.4.0
gellany-plot==0.0.2
gellany-plots==0.0.1
google-auth==2.6.6
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gpg===1.14.0-unknown
graphviz==0.20
greenlet==1.1.2
grpcio==1.46.1
h11==0.13.0
h2==4.1.0
h5py==3.6.0
helpdev==0.7.1
hpack==4.0.0
html5lib==1.1
httplib2==0.18.1
hyperframe==6.0.1
hyperlink==21.0.0
idna==2.10
importlib-metadata==4.11.3
incremental==21.3.0
ipaddr==2.2.0
ipykernel==6.13.0
ipython==8.3.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
itemadapter==0.6.0
itemloaders==1.0.4
itsdangerous==1.1.0
jedi==0.18.1
jeepney==0.8.0
Jinja2==3.0.3
jmespath==1.0.0
joblib==1.1.0
jsonschema==4.5.1
jupyter==1.0.0
jupyter-client==7.3.1
jupyter-console==6.4.3
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
kaggle==1.5.12
kaitaistruct==0.9
keras==2.9.0
Keras-Preprocessing==1.1.2
keyring==23.5.1
kiwisolver==1.4.2
ldap3==2.9.1
LibAppArmor==2.13.6
libclang==14.0.1
lxml==4.9.0
Mako==1.2.0
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mechanize==0.4.5
menulibre==2.2.1
mistune==0.8.4
mitmdump==1.1.2
mitmproxy==8.1.0
mock==4.0.3
msgpack==1.0.0
mugshot==0.4.3
multidict==5.1.0
mutagen==1.45.1
nbclient==0.6.3
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
netifaces==0.10.9
nltk==3.7
notebook==6.4.11
numpy==1.22.3
nyx==2.1.0
oauthlib==3.2.0
olefile==0.46
onboard==1.4.1
onioncircuits==0.7
onionshare==2.2
opt-einsum==3.3.0
order-book==0.4.2
outcome==1.1.0
packaging==21.3
pandas==1.4.2
pandocfilters==1.5.0
parsel==1.6.0
parso==0.8.3
passlib==1.7.4
patsy==0.5.2
pbr==5.5.0
pep517==0.12.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.2
pip-tools==6.6.2
pipreqs==0.4.11
pkginfo==1.8.2
plotly==3.10.0
prometheus-client==0.14.1
prompt-toolkit==3.0.29
Protego==0.2.1
protobuf==3.20.1
psutil==5.8.0
ptyprocess==0.7.0
publicsuffix2==2.20191221
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycares==4.1.2
pycosat==0.6.3
pycountry==20.7.3
pycparser==2.21
pycryptodomex==3.9.7
pycups==2.0.1
pycurl==7.43.0.6
pydantic==1.9.0
PyDispatcher==2.0.5
pyfiglet==0.8.post1
Pygments==2.12.0
PyGObject==3.38.0
pyinotify==0.9.6
pynvim==0.4.2
pyOpenSSL==22.0.0
pyparsing==2.4.7
pyperclip==1.8.2
PyQt5==5.15.2
PyQt5-sip==12.8.1
pyrsistent==0.18.1
PySimpleSOAP==1.16.2
pysmbc==1.0.23
PySocks==1.7.1
python-apt==2.1.7
python-dateutil==2.8.2
python-debian==0.1.39
python-debianbts==3.1.0
python-dotenv==0.20.0
python-slugify==6.1.2
python-xapp==2.0.2
pytz==2022.1
pyxattr==0.7.2
PyYAML==6.0
pyzmq==23.0.0
QDarkStyle==2.8.1
qrcode==6.1
qtconsole==5.3.0
QtPy==2.1.0
queuelib==1.6.2
readme-renderer==35.0
regex==2022.4.24
reportbug==7.10.3
requests==2.25.1
requests-file==1.5.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
retrying==1.3.3
rfc3986==2.0.0
rich==12.4.4
rsa==4.8
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scapy==2.4.5
scapy-http==1.8.2
scikit-learn==1.0.2
scipy==1.8.0
Scrapy==2.6.1
seaborn==0.11.2
SecretStorage==3.3.2
selenium==4.2.0
Send2Trash==1.8.0
service-identity==21.1.0
setproctitle==1.2.1
simplejson==3.17.2
six==1.15.0
sklearn==0.0
sniffio==1.2.0
sns==0.1
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
splinter==0.17.0
SQLAlchemy==1.4.36
sqlparse==0.4.2
stack-data==0.2.0
statsmodels==0.13.2
stem==1.8.0
tabulate==0.8.9
tenacity==8.0.1
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado==0.15.0
terminator==2.1.0
test2==1.0.0
text-unidecode==1.3
threadpoolctl==3.1.0
tinycss2==1.1.1
tldextract==3.3.0
tomli==2.0.1
torbrowser-launcher==0.3.3
tornado==6.1
tqdm==4.64.0
traitlets==5.1.1
trio==0.20.0
trio-websocket==0.9.2
twine==4.0.0
Twisted==22.4.0
txdbus==1.1.2
typing-extensions==3.7.4.3
ufw==0.36
urllib3==1.26.2
urwid==2.1.2
uvloop==0.16.0
w3lib==1.22.0
wcwidth==0.2.5
webdriver-manager==3.7.0
webencodings==0.5.1
websockets==10.3
Werkzeug==1.0.1
widgetsnbextension==3.6.0
wordcloud==1.8.1
wpa-supplicant==0.2
wrapt==1.14.1
wsproto==1.1.0
yapic.json==1.7.2
yarg==0.1.9
yarl==1.7.2
youtube-dl==2021.2.10
zipp==3.8.0
zope.interface==5.4.0
zstandard==0.17.0
